<h2>Edit Economic Situation Stats</h2>
     <table class="table">
         <thead>
             <tr>
                 <th>province</th>
                 <th>year</th>
                 <th>gdp</th>
                 <th>debt</th>
                 <th>actions</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>{{updatedEconomicSituation.province}}</td>
                 <td><input class="form-control" ng-model="updatedEconomicSituation.year"/></td>
                 <td><input class="form-control" ng-model="updatedEconomicSituation.gdp"/></td>
                 <td><input class="form-control" ng-model="updatedEconomicSituation.debt"/></td>
                 <td><button class="btn btn-warning" ng-click = "updateEconomicSituation()">Updated </button></td>
                


             </tr>
             </tbody>
             
    </<table>
  