<h2>Edit Voting Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>Province</th>
            <th>Year</th>
            <th>PP seats</th>
            <th>Podemos seats</th>
            <th>Psoe seats</th>
            <th>CS seats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedResult.province}}></td>
            <td><input class="form-ctrl" ng-model="updatedResult.year"></td>
            <td><input class="form-ctrl" ng-model="updatedResult.pp"></td>
            <td><input class="form-ctrl" ng-model="updatedResult.podemos"></td>
            <td><input class="form-ctrl" ng-model="updatedResult.psoe"></td>
            <td><input class="form-ctrl" ng-model="updatedResult.cs"></td>
            <td><button class="btn btn-warning" ng-click="updateResult()">Update</button></td>

        </tr>
    </tbody>
</table>