<a href="https://sos1617-05.herokuapp.com/#!/elections-results/widgets" title="Click here to see the charts page for this data base.">
    <h1>Elections Voting Stats</h1>
</a>

<!-- Apikey and pagination fields table -->
<table class="tableMod" bgcolor="#00FF00">
    <thead>
        <tr>
            <th>
                <h3>Apikey</h3>
            </th>
            <th>
                <h3>Limit</h3>
            </th>
            <!--<th>
                <h3>From</h3>
            </th>
            <th>
                <h3>To</h3>
            </th>
            <th>
                <h3>Party</h3>
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="password" class="form-ctrl" ng-model="apikey"></td>
            <td><input class="form-ctrl" ng-model="limit"></td>
            <!--<td><input class="form-ctrl" ng-model="from"></td>
            <td><input class="form-ctrl" ng-model="to"></td>
            <td><input class="form-ctrl" ng-model="party"></td> -->
            <td><button class="btn btn-basic" ng-click="show()">SHOW</button>
                <button class="btn btn-danger" ng-click="deleteAll()">Delete All</button>
                <button class="btn btn-success" ng-click="lid()">LID</button>
                <button class="btn btn-success" ng-click="lwd()">LWD</button>
            </td>
        </tr>
    </tbody>
</table>

<!--Main Table -->
<table class="table">
    <thead>
        <tr>
            <th>Province</th>
            <th>Year</th>
            <th>PP seats</th>
            <th>Podemos seats</th>
            <th>Psoe seats</th>
            <th>CS seats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-ctrl" ng-model="newResult.province"></td>
            <td><input class="form-ctrl" ng-model="newResult.year"></td>
            <td><input class="form-ctrl" ng-model="newResult.pp"></td>
            <td><input class="form-ctrl" ng-model="newResult.podemos"></td>
            <td><input class="form-ctrl" ng-model="newResult.psoe"></td>
            <td><input class="form-ctrl" ng-model="newResult.cs"></td>
            <td>
                <button class="btn btn-primary" ng-click="addResult()">Add</button>
                <button class="btn btn-info" ng-click="search()">Search</button>
            </td>
        </tr>
        <tr ng-repeat="result in results">
            <td><a href="#!/elections-voting-stats/{{result.province}}">{{result.province}}</a></td>
            <td>{{result.year}}</td>
            <td>{{result.pp}}</td>
            <td>{{result.podemos}}</td>
            <td>{{result.psoe}}</td>
            <td>{{result.cs}}</td>
            <td><button class="btn btn-danger" ng-click="deleteResult(result)">Delete</td>
        </tr>
    </tbody>
</table>
<!-- PAGINATION -->
                <pre>Current page: {{currentPage}}</pre>
                <button class="btn btn-basic" ng-click="prevPage()">Prev</button>
                <button ng-repeat="page in pagesRange" class="btn btn-basic" ng-click="setPage(page)">{{page}}</button>
                <button class="btn btn-basic" ng-click="setPage(currentPage+1)">Next</button>