<h1>Elections Voting Stats</h1>

<!-- Apikey and pagination fields table -->
<table class="tableMod" bgcolor="#00FF00">
    <thead>
        <tr>
            <th>
                <h3>Apikey</h3>
            </th>
            <th>
                <h3>Limit</h3>
            </th>
            <th>
                <h3>Offset</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="password" class="form-ctrl" ng-model="apikey"></td>
            <td><input class="form-ctrl" ng-model="limit"></td>
            <td><input class="form-ctrl" ng-model="offset"></td>
            <td><button class="btn btn-basic" ng-click="show()">SHOW</button></td>
        </tr>
    </tbody>
</table>

<!--Main Table -->

<table class="table">
    <thead>
        <tr>
            <th>Province</th>
            <th>Year</th>
            <th>PP seats</th>
            <th>Podemos seats</th>
            <th>Psoe seats</th>
            <th>CS seats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-ctrl" ng-model="newResult.province"></td>
            <td><input class="form-ctrl" ng-model="newResult.year"></td>
            <td><input class="form-ctrl" ng-model="newResult.pp"></td>
            <td><input class="form-ctrl" ng-model="newResult.podemos"></td>
            <td><input class="form-ctrl" ng-model="newResult.psoe"></td>
            <td><input class="form-ctrl" ng-model="newResult.cs"></td>
            <td>
                <!--<li id="seccion1" onmouseover="ver()" onmouseout="ocultar()">
                            <a href="#">Actions</a>
                            <div id="actions"> -->
                <button class="btn btn-primary" ng-click="addResult()">Add</button>
                <!-- <button class="btn btn-warning" ng-click="updateResult()">Update</button> -->
                <button class="btn btn-danger" ng-click="deleteAll()">Delete All</button>
                <button class="btn btn-info" ng-click="search()">Search</button>
                <button class="btn btn-success" ng-click="lid()">LID</button>
                <button class="btn btn-success" ng-click="lwd()">LWD</button>
                <!--</div>
                        </li> -->
            </td>
        </tr>

        <!--<tr ng-repeat="result in results"> -->
        <tr ng-repeat="result in results.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
            <td><a href="#!/elections-voting-stats/{{result.province}}">{{result.province}}</a></td>
            <td>{{result.year}}</td>
            <td>{{result.pp}}</td>
            <td>{{result.podemos}}</td>
            <td>{{result.psoe}}</td>
            <td>{{result.cs}}</td>
            <td><button class="btn btn-danger" ng-click="deleteResult(result)">Delete</td>
            </tr>
    <!--
             View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option value="10" selected="selected">10</option><option>20</option><option>30</option><option>40</option><option>50</option><option>60</option></select> records at a time.
    -->
    <!--
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
    -->
    <pre>The selected page no: {{currentPage}}</pre>
    
    <button class="btn btn-info" ng-click="prevPage()">Prev</button>
                <button class="btn btn-info" ng-click="setPage(1)">1</button>
                <button class="btn btn-info" ng-click="setPage(2)">2</button>
                <button class="btn btn-info" ng-click="setPage(3)">3</button>
                <button class="btn btn-info" ng-click="setPage(4)">4</button>
                <button class="btn btn-info" ng-click="setPage(5)">5</button>
                <button class="btn btn-info" ng-click="setPage(6)">6</button>
                <button class="btn btn-info" ng-click="setPage(currentPage+1)">Next</button>


    </tbody>
</table>